body {
  background-color: grey;
}
#grid-header {
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: black;
  color: brown;
  margin: 0;
}
.grid-main {
  display: grid;
  grid-template-columns: 60%;
  justify-content: center;
  grid-row-gap: 5em;
  padding: 80px;
  margin: 10px;
}
.grid-container {
  display: grid;
  padding: 45px;
  border-radius: 5px;
  border: 1px dashed;
  background-color: aliceblue;
}
.image {
  border: 1px solid;
  width: 40px;
}
.grid-item1 {
  display: grid;
  grid-template-columns: 40px 220px;
}
.div2 {
  display: grid;
  grid-template-rows: 20px 0;
  padding-left: 10px;
}
.grid-item3 {
  margin: 0;
  display: grid;
}
.grid-item4 {
  margin: 0;

  display: grid;
}
.grid-item3 {
  display: grid;
}
.grid-item7 {
  display: grid;
  grid-template-rows: 53px;
}

.grid-item10 {
  display: grid;
}
.grid-container2 {
  display: grid;
  border-radius: 5px;
  border: 1px dashed;
  background-color: aliceblue;
  padding: 45px;
}
#div2-1 {
  display: grid;
  grid-template-columns: 40px 220px;
}
#div2-2 {
  display: grid;
  grid-template-rows: 20px 0;
  padding-left: 10px;
}

.grid2-item3 {
  display: grid;
  margin: 0;
}
.grid2-item4 {
  display: grid;
  margin: 0%;
}
.grid2-item7 {
  display: grid;
}
.grid-container3 {
  display: grid;
  border-radius: 5px;
  border: 1px dashed;
  background-color: aliceblue;
  padding: 25px;
}
#div3-1 {
  display: grid;
  grid-template-columns: 40px 220px;
}
#div3-2 {
  display: grid;
  grid-template-rows: 20px 0;
  padding-left: 10px;
}
.grid3-item3 {
  display: grid;
  margin: 0%;
}
.grid3-item5 {
  display: grid;
  margin: 0%;
}

#grid-container4 {
  position: fixed;
  padding: 180px 100px;
  margin: 60px 5px 30px 5px;
  border-right: 1px solid black;
}

#grid-footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: black;
  color: brown;
  margin: 30px 0 0 0;
}
