body {
  display: flex;
  overflow: auto;
  background-color: gray;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  height: 100%;
  width: 1500px;
}
header {
  display: block;
  position: fixed;
  top: 0;
  text-align: center;
  padding: 10px;
  background-color: rgb(22, 22, 23);
  width: 100%;
  color: aliceblue;
  border: 1px solid white;
}

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: center;
  padding: 10px;
  margin-top: 100px;
  background-color: rgb(22, 22, 23);
  width: 100%;
  color: aliceblue;
  border: 1px solid white;
}

.flex-container {
  position: fixed;
  margin-top: 309px;
  height: 400px;
  padding: 100px;
  border-right: 1px solid;
}

section {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  padding: 30px;
  width: 740px;
  height: 350px;
  background-color: aliceblue;
  border-radius: 5px;
}
#main-container {
  padding: 30px;
  width: 800px;
  height: 420px;
}
.div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
strong {
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 1ex;
}
div {
  display: flex;
}
ul {
  display: flex;
  margin: 0%;
}
li {
  margin-left: 25px;
}
h3 {
  display: flex;
  margin: 0%;
}
.imgbar {
  font-display: black;
}
a:any-link {
  color: black;
}
